{% assign out_of_stock_inventory_level = options.out_of_stock_inventory_level__number_required %}
{% assign product_tag = options.product_tag__required %}
{% assign email_alert_recipient = options.email_alert_recipient__email %}

{% assign products = array %}

{% if event.topic == "shopify/inventory_levels/update" %}
  {% comment %}
    -- get product data from the inventory level resource
  {% endcomment %}

  {% capture query %}
    query {
      inventoryLevel(id: {{ inventory_level.admin_graphql_api_id | json }}) {
        item {
          variants(first: 1) {
            nodes {
              product {
                id
                legacyResourceId
                status
                title
                totalInventory
                tags
              }
            }
          }
        }
      }
    }
  {% endcapture %}

  {% assign result = query | shopify %}

  {% assign product = result.data.inventoryLevel.item.variants.nodes.first.product %}

  {% comment %}
    -- only process active products
  {% endcomment %}

  {% unless product.status == "ACTIVE" or event.preview %}
    {% break %}
  {% endunless %}

  {% comment %}
    -- sum inventoryQuantity from all variants instead of using product.totalInventory due to calculated field lag
  {% endcomment %}

  {% capture query %}
    query {
      product(id: {{ product.id | json }}) {
        variants(first: 2048) {
          nodes {
            inventoryQuantity
          }
        }
      }
    }
  {% endcapture %}

  {% assign result = query | shopify %}

  {% if event.preview %}
    {% capture result_json %}
      {
        "data": {
          "product": {
            "variants": {
              "nodes": [
                {
                  "inventoryQuantity": {{ out_of_stock_inventory_level }}
                }
              ]
            }
          }
        }
      }
    {% endcapture %}

    {% assign result = result_json | parse_json %}
  {% endif %}

  {% assign available_inventory = result.data.product.variants.nodes | map: "inventoryQuantity" | sum %}

  {% unless event.preview %}
    {% log
      available_inventory_summed_from_variants: available_inventory,
      product_total_inventory_laggy_calc: product.totalInventory
    %}
  {% endunless %}

  {% assign products[0] = product %}

{% elsif event.topic == "mechanic/user/trigger" %}
  {% comment %}
    -- get all active products in the shop
  {% endcomment %}

  {% capture bulk_operation_query %}
    query {
      products(
        query: "status:active"
      ) {
        edges {
          node {
            __typename
            id
            totalInventory
            tags
          }
        }
      }
    }
  {% endcapture %}

  {% action "shopify" %}
    mutation {
      bulkOperationRunQuery(
        query: {{ bulk_operation_query | json }}
      ) {
        bulkOperation {
          id
          status
        }
        userErrors {
          field
          message
        }
      }
    }
  {% endaction %}

  {% break %}

{% elsif event.topic == "mechanic/shopify/bulk_operation" %}
  {% assign products = bulkOperation.objects | where: "__typename", "Product" %}
{% endif %}

{% comment %}
  -- preview event to handle both inventory level updates and bulk product queries
{% endcomment %}

{% if event.preview %}
  {% capture products_json %}
    [
      {
        "id": "gid://shopify/Product/1234567890",
        "totalInventory": {{ out_of_stock_inventory_level | plus: 1 }},
        "tags": {{ product_tag | json }}
      },
      {
        "id": "gid://shopify/Product/2345678901",
        "title": "Widget",
        "totalInventory": {{ out_of_stock_inventory_level }}
      }
    ]
  {% endcapture %}

  {% assign products = products_json | parse_json %}
{% endif %}

{% comment %}
  - process all of the products from bulk query, or the single active product linked to the inventory level update event
{% endcomment %}

{% for product in products %}
  {% if event.topic == "mechanic/shopify/bulk_operation" %}
    {% assign available_inventory = product.totalInventory %}
  {% endif %}

  {% if available_inventory > out_of_stock_inventory_level %}
    {% if product.tags contains product_tag %}
      {% comment %}
        -- product is above the configured out of stock level and has the out of stock tag; remove it
      {% endcomment %}

      {% action "shopify" %}
        mutation {
          tagsRemove(
            id: {{ product.id | json }}
            tags: {{ product_tag | json }}
          ) {
            userErrors {
              field
              message
            }
          }
        }
      {% endaction %}
    {% endif %}

  {% else %}
    {% comment %}
      -- product is out of stock
    {% endcomment %}

    {% if product.tags contains product_tag %}
      {% comment %}
        -- product has already been tagged; skip it (including email notification if applicable)
      {% endcomment %}

      {% continue %}
    {% endif %}

    {% action "shopify" %}
      mutation {
        tagsAdd(
          id: {{ product.id | json }}
          tags: {{ product_tag | json }}
        ) {
          userErrors {
            field
            message
          }
        }
      }
    {% endaction %}

    {% comment %}
      -- send email if this is a single inventory level event and an alert recipient is configured
    {% endcomment %}

    {% if event.topic == "shopify/inventory_levels/update" and email_alert_recipient != blank %}
      {% capture email_body %}
        Hello,

        {{ product.title }} is now out of stock, with a total stock level of {{ available_inventory }} (across all variants and locations).

        <a href="{{ shop.admin_url }}/products/{{ product.legacyResourceId }}">Manage this product</a>

        Thanks,
        Mechanic (for {{ shop.name }})
      {% endcapture %}

      {% action "email" %}
        {
          "to": {{ email_alert_recipient | json }},
          "subject": {{ product.title | append: " is now out of stock (" | append: available_inventory | append: ")" | json }},
          "body": {{ email_body | unindent | strip | newline_to_br | json }},
          "reply_to": {{ shop.customer_email | json }},
          "from_display_name": {{ shop.name | json }}
        }
      {% endaction %}
    {% endif %}
  {% endif %}
{% endfor %}
